<div class="container">
    <div class="card card-body">
        <h3 class="text-danger text-center">Rewards</h3>
        <h5 class="text-center">Manage rewards here</h5>

        <div class="container">
            <div class="row mb-2">

                <div class="card card-body">
                    <a class="" href="admin/createReward">
                        <div class="reward-asst-img">
                            <img src="/img/createRewards-logo.png" class="img-fluid">
                        </div>
                    </a>
                    <h4 class="wealth-asst-txt">Create Rewards</h4>
                </div>

                <div class="card card-body">
                    <a class="" href="admin/viewRewards">
                        <div class="viewreward-asst-img">
                            <img src="/img/viewRewards-list.png" class="img-fluid">
                        </div>
                    </a>
                    <h4 class="wealth-asst-txt">View Rewards</h4>
                </div>
            </div>
        </div>
    </div>
</div>
