<div class="container">
    
    <div class="card card-body">

        <div class="container">

            <h3 class="text-danger text-center">Claim Reward</h3>
            <h5 style="display: inline-block;">Reward</h5>

            <form action="claimReward" method="post" id="createForm">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="title">Enter Code</label>
                            <input type="text" class="form-control" name="code" required>
                        </div>                     
                    </div>
                    <br>
                    <button id="butAddMeal" type="submit" class="btn btn-danger">Redeem
                    </button>
                    
            </form>

        </div>
    </div>
</div>

