<div class="container">

    
    <div class="card card-body">

        <div class="container">
            

            <h3 class="text-danger text-center">Redeem Reward</h3>
            <h4 style="display: inline-block;">Code</h5>
            <br><br>
            <div id="detailsReward">
                <h5 class="reedeemHead">Please Copy the reward Code</h5>
                <p>{{rewardT.code}}</p>
            </div>
            <br>
                <a href='/rewards/admin/showRedeem' class="btn btn-sm btn-primary">Done</a>

        </div>
    </div>
</div>